.projects {
  padding: 50px;
  background-color: #f8f9fa;
}

.projects h2 {
  font-size: 42px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.project-text {
  flex: 1;
}

.project h3 {
  font-size: 38px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.project p {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.project-image {
  width: 40%;
  height: auto;
  max-width: 90%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-right: 150px;
}

.project-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #000;
  background: linear-gradient(45deg, #9c447d, #ff8800);
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 100px;
}

.project-button:hover {
  background: linear-gradient(45deg, #ff8800, #9c447d);
}
