.stats {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #000;
  color: #fff;
}

.stat {
  text-align: center;
}

.stat p {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #ff8800, #9c447d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stat h3 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}
